:root {
  --color__01: darkblue;
  --color__02: #ffe23c;
  --color__03: #386BB9;
  --bg-color__01: radial-gradient(circle at 50% 120.71%, #503460 0, #43295d 25%, #321f59 50%, #1c1656 75%, #000f53 100%);
  --bg-color__02: rgba(0, 0, 0, 0.1);
  --bg-color__03: aquamarine;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Changa', sans-serif;
  margin: 1em;
  background-image: var(--bg-color__01);
  color: var(--color__02);
}

ol, ul {
  font-size: 1.08em;
  line-height: 1.8em;
  /* display: inline-block; */
  /* list-style: hiragana; */
}

li {
  display: inline-block;
}

.page-header {
  text-align: center;
}

.page-header__logo-1 {
  max-width: 250px;
}

.page-header__logo-2 {
  max-width: 250px;
}

.page-title {
  font-family: 'Sedgwick Ave Display', cursive;
  color: var(--color__02);
  font-size: 1.4em;
  margin: 8px 6px 0px;
}

#loader {
  background-color: var(--bg-color__03);
  border-radius: 30px;
  height: 30px;
  color: var(--color__01);
}

#loader > p {
  padding-top: 6px;
  text-align: center;
  font-weight: 500;
}

.main-content {
  width: 100%;
  min-height: 800px;
  margin: 0 auto;
  padding: 5px 10px;
  border-radius: 30px;
  /* background-image: var(--bg-color__01); */
  color: var(--color__01);
  text-align: center;
}

.button {
  background-color: var(--color__02);
  border: 3px solid var(--color__03);
  border-radius: 45px;
  margin: 19px;
  padding: 33px;
  color: var(--color__01);
  cursor: pointer;
  transition-duration: 0.08s;
  text-transform: capitalize;
}

.button:hover {
  /* background-image: var(--bg-color__01); */
  background-color: var(--bg-color__02);
  color: var(--color__02);
}

@media all and (max-width: 500px) {
  body {
    margin: 20px;
  }

  .page-header__logo-1 {
    max-width: 70%;
    min-width: 100px;
  }

  .page-header__logo-2 {
    max-width: 70%;
    min-width: 100px;
  }

  .page-title {
    font-size: 15px;
  }

  .main-content {
    border-radius: 18px;
    font-size: smaller;
  }
}
