:root {
  --color__01: darkblue;
  --color__02: #ffe23c;
  --bg-color__01: radial-gradient(circle at 50% 120.71%, #503460 0, #43295d 25%, #321f59 50%, #1c1656 75%, #000f53 100%);
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Changa', sans-serif;
  margin: 1em;
  background-image: var(--bg-color__01);
  color: var(--color__02);
}

ol {
  font-size: 1.08em;
  line-height: 1.8em;
  display: inline-block;
  list-style: hiragana;
}

.page-header {
  text-align: center;
}

.page-header__logo-1 {
  max-width: 250px;
}

.page-header__logo-2 {
  max-width: 250px;
}

.page-title {
  font-family: 'Sedgwick Ave Display', cursive;
  color: var(--color__02);
  font-size: 1.4em;
  margin: 8px 6px 0px;
}

.main-content {
  max-width: 1000px;
  margin: 0 auto;
  padding: 5px 10px;
  border-radius: 30px;
  background-color: var(--color__02);
  color: var(--color__01);
  font-weight: 400;
}

@media all and (max-width: 500px) {
  body {
    margin: 20px;
  }

  .page-header__logo-1 {
    max-width: 70%;
    min-width: 100px;
  }

  .page-header__logo-2 {
    max-width: 70%;
    min-width: 100px;
  }

  .page-title {
    font-size: 15px;
  }

  .main-content {
    border-radius: 18px;
    font-size: smaller;
  }
}
