:root {
  --color__01: darkblue;
  --color__02: #ffe23c;
  --color__03: #386bb9;
  --color__04: #fff;
  --bg-color__01: radial-gradient(circle at 50% 120.71%, #503460 0, #43295d 25%, #321f59 50%, #1c1656 75%, #000f53 100%);
  --bg-color__02: rgba(0, 0, 0, 0.1);
  --bg-color__03: aquamarine;
  --bg-color__04: darkblue;
}

html {
  height: 87%;
  overflow: visible;
}

body {
  font-family: 'Changa', sans-serif;
  background-image: var(--bg-color__01);
  height: 100%;
  overflow: hidden;
}

.modal-backdrop {
  z-index: 400;
}

#modalContainer h1 {
  text-transform: capitalize;
}

.modal-body img {
  background-image: var(--bg-color__01);
  border-radius: 50%;
  width: 40%;
  padding: 4%;
  margin-bottom: 10%;
}

/* header nav */
.bg-transparent {
  margin: 0 2.5%;
}

.page-header {
  text-align: center;
}

.page-header__logo-1 {
  max-width: 250px;
  margin-top: 33px;
}

.page-header__logo-2 {
  max-width: 220px;
  margin-top: 8%;
}

.page-title {
  font-family: 'Sedgwick Ave Display', cursive;
  color: var(--color__02);
  font-size: 1.4em;
  text-align: left;
  margin: 8px 6px 0;
}

#loader {
  position: fixed;
  z-index: 500;
  top: 0;
  right: 0;
  left: 0;
  background-color: var(--bg-color__03);
  height: 25px;
  color: var(--color__01);
}

#loader p {
  text-align: center;
  font-weight: 500;
}

.main-content {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 10px 3%;
  border-radius: 3px;
  background-image: var(--bg-color__01);
  color: var(--color__01);
  text-align: center;
  overflow: scroll;
}

ol,
ul {
  font-size: 1.08em;
  line-height: 1.8em;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  flex-basis: 20%;
  flex-grow: 1;
}

.btn {
  text-transform: capitalize;
  font-size: 1em;
  width: 100%;
}

@media all and (max-width: 500px) {
  .navbar-dark .navbar-toggler {
    margin: 0 auto;
  }

  .page-header__logo-1 {
    max-width: 70%;
    min-width: 100px;
  }

  .page-header__logo-2 {
    max-width: 50%;
    min-width: 100px;
    margin-bottom: 3%;
  }

  .page-title {
    font-size: 15px;
  }

  .main-content {
    font-size: smaller;
  }

  #modalContainer h1 {
    font-size: 2em;
  }

  li {
    flex-basis: 50%;
    flex-grow: 2;
  }

  .btn {
    font-size: 1em;
    width: 100%;
  }
}

@media all and (max-width: 300px) {
  .modal-body img {
    width: 50%;
  }

  #modalContainer h1 {
    font-size: 1.3em;
  }

  .btn {
    font-size: 0.7em;
  }
}
